.shop-wrap {
  position: relative;
  display: block;
  width: 335px;
  margin-top: 0px;
  margin-bottom: 40px;
  margin-right: auto;
  margin-left: auto;
}
@media only screen and (min-width: 768px) {
  .shop-wrap {
    width: 704px;
  }
}
@media only screen and (min-width: 1440px) {
  .shop-wrap {
    width: 996px;
  }
}

.shop-card {
  position: relative;
  display: flex;
  align-items: flex-start;
  width: 335px;
  height: 170px;
  padding: 14px;
  border-radius: 16px;

  border: 2px solid rgba(79, 46, 232, 0.4);
  background: var(--color-white);
  flex-shrink: 0;
  margin-top: 0;
  margin-bottom: 20px;
  margin-right: 0;
  margin-left: 0;
}
@media only screen and (min-width: 768px) {
  .shop-card {
    width: 704px;
    height: 213px;
    padding: 24px;
  }
}
@media only screen and (min-width: 1440px) {
  .shop-card {
    width: 996px;
  }
}
.shop-btn-delete {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 12px;
  right: 12px;
  width: 28px;
  height: 28px;
  padding: 2px;
  border-radius: 50%;
  border: 1px solid var(--color-blue);
  background-color: var(--color-blue);
  cursor: pointer;
}
.icon-trash {
  width: 16px;
  height: 16px;
  color: var(--color-white);
  object-fit: cover;
  background-image: url(../images/trash-shop-mob.svg);
  background-repeat: no-repeat;
}
@media only screen and (min-width: 768px) {
  .shop-btn-delete {
    top: 20px;
    right: 20px;
    width: 34px;
    height: 34px;
    padding: 6px;
  }
  .icon-trash {
    width: 18px;
    height: 18px;
    background-image: url(../images/trash-shop-tab.svg);
  }
}

.shop-img {
  left: 14px;
  top: 14px;
  display: block;
  width: 100px;
  height: 140px;
  border-radius: 8px;
  border: 1px solid var(--color-grey-light);
  // border: 2px solid rgba(79, 46, 232, 0.4);
  object-fit: cover;
  margin-right: 14px;
}
@media only screen and (min-width: 768px) {
  .shop-img {
    width: 116px;
    height: 165px;
    margin-right: 24px;
  }
}
.shop-info {
  position: absolute;
  top: 14px;
  right: 14px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 193px;
  padding: 0;
}
.shop-title {
  display: block;
  width: 144px;
  height: 18px;
  color: var(--color-black);
  font-family: DM Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.1; /* 112.5% */
  letter-spacing: -0.64px;
  text-align: left;
  text-transform: uppercase;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0;
  margin-top: 0;
  margin-bottom: 12px;
}
@media only screen and (min-width: 768px) {
  .shop-info {
    top: 24px;
    right: 24px;
    width: 506px;
  }
  .shop-title {
    width: 400px;
    font-size: 16px;
    margin-bottom: 20px;
  }
}
@media only screen and (min-width: 1440px) {
  .shop-info {
    top: 24px;
    right: 24px;
    width: 808px;
  }
  .shop-title {
    width: 500px;
    font-size: 16px;
    margin-bottom: 32px;
  }
}
.shop-description {
  overflow-y: auto;
  scroll-behavior: smooth;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  width: 193px;
  height: 68px;
  // right: 14px;
  // bottom: 44px;
  font-family: DM Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.2; /* 128.571% */
  letter-spacing: -0.56px;
  text-align: left;
  color: var(--color-black);

  padding: 0;
  margin-top: 0;
  margin-bottom: 8px;
}
@media only screen and (min-width: 768px) {
  .shop-description {
    width: 506px;
    height: 60px;
    font-size: 14px;
    margin-bottom: 10px;
  }
}
@media only screen and (min-width: 1440px) {
  .shop-description {
    width: 808px;
    height: 52px;
    margin-bottom: 10px;
  }
}
.shop-author {
  display: block;
  color: var(--color-grey-light);
  font-family: DM Sans;
  font-size: 12px;
  font-style: italic;
  font-weight: 400;
  line-height: 1.1; /* 116.667% */
  letter-spacing: -0.48px;
  padding: 0;
  margin-top: 0;
  margin-bottom: 4px;
}
@media only screen and (min-width: 768px) {
  .shop-author {
    margin-bottom: 10px;
  }
}
.shop-resources {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  margin: 0;
  padding: 0;
}

li[name='Amazon'].shop {
  width: 32px;
  height: 11px;
  background-image: url('../images/amazon-shop.svg');
  object-fit: cover;
}
li[name='Amazon'].shop:hover,
li[name='Amazon'].shop:focus {
  box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.15);
}

li[name='Apple Books'].shop {
  width: 16px;
  height: 16px;
  background-image: url('../images/apple-shop.svg');
}
li[name='Apple Books'].shop:hover,
li[name='Apple Books'].shop:focus {
  box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.15);
}

li[name='Bookshop'].shop {
  width: 16px;
  height: 16px;
  background-image: url('../images/book-shop.svg');
}
li[name='Bookshop'].shop:hover,
li[name='Bookshop'].shop:focus {
  box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.15);
}
@media only screen and (min-width: 768px) {
  .shop-resources {
    gap: 40px;
  }
  li[name='Amazon'].shop {
    width: 48px;
    height: 15px;
    background-image: url('../images/amazon-shop-tab.svg');
  }
  li[name='Apple Books'].shop {
    width: 28px;
    height: 27px;
    background-image: url('../images/apple-shop-tab.svg');
  }
  li[name='Bookshop'].shop {
    width: 32px;
    height: 30px;
    background-image: url('../images/book-shop-tab.svg');
  }
}

// Scroll ==============================
.shop-description::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

.shop-description::-webkit-scrollbar-track {
  background: #f6f6f6;
}

.shop-description::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background: #e0e0e0;
}
.shop-description::-webkit-scrollbar-thumb:hover {
  background: #aeadad;
}
