.shop-wrap {
  position: relative;
  display: block;
  width: 335px;
  margin-top: 0px;
  margin-bottom: 40px;
  margin-right: auto;
  margin-left: auto;
}
@media only screen and (min-width: 768px) {
  .shop-wrap {
    width: 704px;
  }
}
@media only screen and (min-width: 1440px) {
  .shop-wrap {
    width: 996px;
  }
}

.title-shop {
  display: inline-block;
  width: 335px;
  text-align: left;
  color: var(--color-black);

  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.19;
  letter-spacing: -1.28px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  padding: 0;
}

.last-word {
  color: var(--color-blue);
}

@media only screen and (min-width: 768px) {
  .title-shop {
    // justify-content: ;
    width: 704px;
    font-size: 48px;
    line-height: 1.08;
    letter-spacing: -1.92px;
    margin-left: 0;
    margin-right: 0;
  }
}
@media only screen and (min-width: 1440px) {
  .title-shop {
    width: 996px;
  }
}

.shop-card {
  position: relative;
  display: flex;
  align-items: flex-start;
  width: 335px;
  height: 170px;
  padding: 14px;
  border-radius: 16px;

  border: 2px solid rgba(79, 46, 232, 0.4);
  background: var(--color-white);
  flex-shrink: 0;
  margin-top: 0;
  margin-bottom: 20px;
  margin-right: 0;
  margin-left: 0;
}
@media only screen and (min-width: 768px) {
  .shop-card {
    width: 704px;
    height: 213px;
    padding: 24px;
  }
}
@media only screen and (min-width: 1440px) {
  .shop-card {
    width: 996px;
  }
}
.shop-btn-delete {
  position: absolute;
  z-index: 50;
  display: block;
  top: 12px;
  right: 12px;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  background: var(--color-blue) url(../images/trash-shop-mob.svg) no-repeat
    center;
  transform: scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.shop-btn-delete:hover,
.shop-btn-delete:focus {
  transform: scale(1.05);
}
@media only screen and (min-width: 768px) {
  .shop-btn-delete {
    top: 20px;
    right: 20px;
    width: 34px;
    height: 34px;
    background: var(--color-blue) url(../images/trash-shop-tab.svg) no-repeat
      center;
  }
}

.shop-img {
  left: 14px;
  top: 14px;
  display: block;
  width: 100px;
  height: 140px;
  border-radius: 8px;
  border: 1px solid var(--color-grey-light);
  object-fit: cover;
  margin-right: 14px;
}
@media only screen and (min-width: 768px) {
  .shop-img {
    width: 116px;
    height: 165px;
    margin-right: 24px;
  }
}

.shop-title {
  display: block;
  width: 144px;
  height: 18px;
  color: var(--color-black);
  font-family: DM Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.1; /* 112.5% */
  letter-spacing: -0.64px;
  text-align: left;
  text-transform: uppercase;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0;
  margin-top: 0;
  margin-bottom: 12px;
}
@media only screen and (min-width: 768px) {
  .shop-title {
    width: 400px;
    font-size: 16px;
    margin-bottom: 20px;
  }
}
@media only screen and (min-width: 1440px) {
  .shop-title {
    width: 500px;
    font-size: 16px;
    margin-bottom: 32px;
  }
}
.shop-description {
  overflow-y: auto;
  scroll-behavior: smooth;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  width: 193px;
  height: 68px;
  // right: 14px;
  // bottom: 44px;
  font-family: DM Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.2; /* 128.571% */
  letter-spacing: -0.56px;
  text-align: left;
  color: var(--color-black);

  padding: 0;
  margin-top: 0;
  margin-bottom: 8px;
}
@media only screen and (min-width: 768px) {
  .shop-description {
    width: 506px;
    height: 60px;
    font-size: 14px;
    margin-bottom: 10px;
  }
}
@media only screen and (min-width: 1440px) {
  .shop-description {
    width: 808px;
    height: 52px;
    margin-bottom: 10px;
  }
}
.shop-author {
  display: block;
  color: var(--color-grey-light);
  font-family: DM Sans;
  font-size: 12px;
  font-style: italic;
  font-weight: 400;
  line-height: 1.1; /* 116.667% */
  letter-spacing: -0.48px;
  padding: 0;
  margin-top: 0;
  margin-bottom: 4px;
}
@media only screen and (min-width: 768px) {
  .shop-author {
    margin-bottom: 10px;
  }
}
.shop-resources {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  margin: 0;
  padding: 0;
}

li[name='Amazon'].shop {
  width: 32px;
  height: 11px;
  background-image: url('../images/amazon-shop.svg');
  object-fit: cover;
  cursor: pointer;
}
li[name='Amazon'].shop:hover,
li[name='Amazon'].shop:focus {
  box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.15);
}

li[name='Apple Books'].shop {
  width: 16px;
  height: 16px;
  background-image: url('../images/apple-shop.svg');
  cursor: pointer;
}
li[name='Apple Books'].shop:hover,
li[name='Apple Books'].shop:focus {
  box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.15);
}

li[name='Bookshop'].shop {
  width: 16px;
  height: 16px;
  background-image: url('../images/book-shop.svg');
  cursor: pointer;
}
li[name='Bookshop'].shop:hover,
li[name='Bookshop'].shop:focus {
  box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.15);
}
@media only screen and (min-width: 768px) {
  .shop-resources {
    gap: 40px;
  }
  li[name='Amazon'].shop {
    width: 48px;
    height: 15px;
    background-image: url('../images/amazon-shop-tab.svg');
  }
  li[name='Apple Books'].shop {
    width: 28px;
    height: 27px;
    background-image: url('../images/apple-shop-tab.svg');
  }
  li[name='Bookshop'].shop {
    width: 32px;
    height: 30px;
    background-image: url('../images/book-shop-tab.svg');
  }
}

// Scroll ==============================
.shop-description::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

.shop-description::-webkit-scrollbar-track {
  background: #f6f6f6;
}

.shop-description::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background: #e0e0e0;
}
.shop-description::-webkit-scrollbar-thumb:hover {
  background: #aeadad;
}
// Error =========================================
.error-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 335px;
  background: var(--color-background);
  margin-left: auto;
  margin-right: auto;
}
.error-text {
  width: 244px;
  color: rgba(0, 0, 0, 0.6);
  text-align: center;
  font-family: DM Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.3; /* 128.571% */
  letter-spacing: -0.28px;
  margin-bottom: 14px;
}
.icon-error {
  display: flex;
  min-width: 265px;
  height: 365px;
  background-image: url(../images/cap-mob.svg);
  object-fit: cover;
  background-repeat: no-repeat;
  margin-left: auto;
  margin-right: auto;
}
@media only screen and (min-width: 768px) {
  .error-wrap {
    width: 768px;
  }
  .error-text {
    min-width: 349px;
    font-size: 18px;
  }
  .icon-error {
    min-width: 349px;
    background-image: url(../images/cap-tab.svg);
  }
}
@media only screen and (min-width: 1440px) {
  .error-wrap {
    max-width: 996px;
  }
}
